.project{
    
    padding-bottom: 10%;
   
    .project__title{
        h3{
            font-size: 3rem;
        }
    }
    .project__content{
        
        .form-group{
            p{
                font-size: 1.3rem;
            }
        }
    }
}