.project{
    padding-top: 5rem;
    .project__title{
        h3{
            font-size: 3rem;
        }
    }
    .project__content{
        .form-group{
            p{
                font-size: 1.3rem;
            }
        }
    }
}