.header__task{
    .breadcrumb{
        background-color: white;
        padding: 0;
        .breadcrumb-item{
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 420px) {

    .header__task{
    .breadcrumb{
        .breadcrumb-item{
            font-size: 1rem;
        }
    }
}
}