.info__task {
    h3{
        font-size: 2rem;
        font-weight: bold;
    }
    .info__task-content{
        display: flex;
        align-items: center;
        .task__input{
            width: 25%;
        }
        .task__avatar{
            display: flex;
            margin:0 3rem;
            .avatar{
                width: 50px;
                img{
                    border-radius: 50%;
                }
            }
        }
        .task-item{
            span{
                font-size: 1.25rem;
                margin-right: 1rem;
            }
        }
    }
}
@media  screen and (max-width: 768px) {
    .info__task{
        h3{
            font-size: 1.5rem;

        }
        .info__task-content{
            display: block;
            .task__input{
                width: 60%;
            }
            .task__avatar{
                margin: 5px 1rem;
            }
            .task-item{
                span{
                    font-size: 0.75rem;
                }
         
            }
        
    }
}
}