.edit__project{
    .edit__project-item{
        margin-bottom: 10px;
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        input{
            margin-top: 5px;
        }
    }
}