.modal {
    .modal-info {
        max-width: 1500px !important;
        .modal-content {
            padding: 20px 24px;
            font-size: 1.25rem;
            margin-top: 100px;
            .modal-header {
                padding: 1rem 2rem;
                border-bottom: none;
                .task-title {
                    .fa-bookmark {
                        color: #5fb03e;
                        font-size: 1.25rem;
                        margin-right: 10px;
                    }
                    .fa-exclamation-circle {
                        color: red;
                        font-size: 1.25rem;
                        margin-right: 10px;
                    }
                    span {
                        margin-left: 10px;
                        font-size: 2rem;
                        color: rgb(44, 44, 187);
                    }
                }
                .task-click {
                    align-items: center;
                    span {
                        padding-right: 20px;
                        padding-left: 5px;
                    }
                    .fa-trash-alt {
                        width: 20px !important;
                        height: 20px;
                    }
                    .close {
                        padding-bottom: 16px !important;
                    }
                }
            }
            .modal-body {
                .issue {
                    font-size: 2rem;
                    font-weight: 500;
                }
                .description {
                    p:first-child {
                        margin-bottom: 5px;
                    }
                }
                .comment {
                    margin-top: 3rem;
                    h6 {
                        font-size: 1.25rem;
                    }
                    .block-comment {
                        .avatar {
                            margin-top: 5px;
                            margin-right: 15px;
                        }
                        .input-comment {
                            width: 100%;
                            input {
                                width: 100%;
                                height: 45px;
                                padding: 10px;
                            }
                        }
                    }
                    .lastest-comment {
                        .comment-item {
                            .display-comment {
                                .avatar {
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
                h6 {
                    font-size: 13px;
                }
                .status {
                    .custom-select {
                        height: 35px;
                        background: #dcdfe4;
                        margin-bottom: 20px;
                    }
                }
                .assignees {
                    .item {
                        margin-left: 15px;
                        background: #e9eaf0;
                        padding: 5px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        .avatar {
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }
                        .name {
                            margin: 0 5px;
                        }
                    }
                }
                .reporter {
                    margin-bottom: 20px;
                    .item {
                        margin-right: 20px;
                        background: #e9eaf0;
                        padding: 5px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        .avatar {
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }
                        .name {
                            margin: 0 15px;
                        }
                    }
                }
                .priority {
                    .custom-select {
                        height: 35px;
                        background: #dcdfe4;
                        margin-bottom: 20px;
                    }
                }
                .estimate {
                    .estimate-hours {
                        height: 35px;
                        background: #f2f3f7;
                        margin-bottom: 20px;
                        border: 1px solid;
                        border-color: #ced4da;
                        width: 100%;
                        padding: 8px;
                        &:focus {
                            background: white;
                        }
                    }
                }
                .time-tracking {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #ced4da;
                    h6 {
                        color: #929398;
                    }
                    fa-clock {
                        margin-right: 10px;
                    }
                    .progress {
                        height: 5px !important;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 898px) {
    .modal {
        .modal-info {
            .modal-content {
                .modal-header {
                    .task-title {
                        .fa-bookmark {
                            color: #5fb03e;
                            font-size: 1rem;
                            margin-right: 10px;
                        }
                        .fa-exclamation-circle {
                            color: red;
                            font-size: 1rem;
                            margin-right: 10px;
                        }
                        span {
                            margin-left: 10px;
                            font-size: 1.5rem;
                            color: rgb(44, 44, 187);
                        }
                    }
                    .task-click {
                        align-items: center;
                        span {
                            padding-right: 15px;
                            padding-left: 3px;
                            font-size: 15px;
                        }
                        .fa-trash-alt {
                            width: 13px !important;
                            height: 13px;
                        }
                        .close {
                            padding-bottom: 16px !important;
                        }
                    }
                }
                .modal-body {
                    .reporter {
                        .item {
                            width: 200px;
                            .name {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .modal {
        .modal-info {
            .modal-content {
                .modal-header {
                    .task-click {
                        .close {
                            position: absolute;
                            top: -70px;
                            right: -35px;
                            padding-bottom: 16px !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 373px) {
    .modal {
        .modal-info {
            .modal-content {
                .modal-header {
                    .task-title {
                    }
                    .task-click {
                        align-items: center;
                        span {
                            padding-right: 8px;
                            padding-left: 3px;
                            font-size: 12px;
                        }
                        .fa-telegram-lane {
                            font-size: 15px;
                        }
                        .fa-link {
                            font-size: 15px;
                        }
                        .fa-trash-alt {
                            width: 18px !important;
                            height: 18px;
                        }
                        .close {
                            position: absolute;
                            top: -70px;
                            right: -35px;
                            padding-bottom: 16px !important;
                        }
                    }
                }
            }
        }
    }
}
