.task{
    .task__item{
        margin-bottom: 10px;
        span{
            font-size: 1.2rem;
            color: rgb(28, 102, 212);
        }
        input{
            margin-top: 5px;
        }
        .ant-select-selection-item{
            align-items: center;
        }
    }
}
@media screen and (max-width: 678px) {
    .task{
        .task__item{
            span{
                font-size: 1rem;
            }
            .time__tracking{
                span{
                    font-size: 0.8rem;
                }
            }
        }
      
  
    }
}

@media screen and (max-width: 410px) {
    .task{
        .task__item{
            .time__tracking{
                span{
                    font-size: 0.6rem;
                }
            }
        }
      
  
    }
}