.pagenotfound{
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  margin-left: 22%;
  .pagenotfound__content{
    padding-top: 20%;
    span{
      font-size: 5rem;
    }
    p{
      font-size: 3rem;
    }
  }
  
}
@media screen and (max-width: 992px){
  .pagenotfound{
      margin-left: 22%;
     
  }
}
@media screen and (max-width: 768px){
  .pagenotfound{
    margin-left: 12%;
  }
}
